body {
  background-color: #5dbf1e;
  color: #000;
  font-size: 16px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

p {
  color: #000;
  font-size: 16px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.p1 {
  font-size: 18px;
  line-height: 30px;
}

p + p {
  margin-top: 25px;
}

h1, .h1 {
  color: #5dbf1e;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-size: 56px;
  font-weight: 600;
  line-height: 62px;
  text-shadow: 1px 1px 0px black;
}

h2, .h2 {
  color: #5dbf1e;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-size: 46px;
  font-weight: 600;
  line-height: 52px;
  text-shadow: 1px 1px 0px black;
}

h3, .h3 {
  color: #000;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-size: 34px;
  line-height: 40px;
}

h4, .h4 {
  color: #000;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-size: 28px;
  line-height: 34px;
}

h5, .h5 {
  color: #5dbf1e;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  text-shadow: 1px 1px 0px black;
}

h6, .h6 {
  color: #5dbf1e;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  text-shadow: 1px 1px 0px black;
}

a {
  border-bottom: solid 2px #5dbf1e;
  color: #5dbf1e;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a.whiteText {
  border-color: #fff;
  color: #fff;
}

a.whiteText:hover {
  border-color: #e7e6e4;
  color: #e7e6e4;
}

.anchorPoint {
  border: 0;
  display: block;
  height: 0;
  position: relative;
  top: -60px;
}

.btn {
  border: solid 2px #000;
  border-radius: 0;
  display: inline-block;
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  padding: 12px 20px 8px;
  transition: .3s all;
}

.btn.btnPrim {
  background-color: #000;
  color: #fff;
}

.btn.btnPrim:hover {
  background-color: transparent;
  color: #000;
}

.btn.btnSeco {
  background-color: #5dbf1e;
  border-color: #5dbf1e;
  color: #fff;
}

.btn.btnSeco:hover {
  /*background-color: #44a207;*/
  background-color: transparent;
  color: #5dbf1e;
}

.btn.btnTert {
  background-color: #fff;
  border: solid 2px #000;
  color: #000;
}

.btn.btnTert:hover {
  background-color: black;
  color: #fff;
}

.whiteText {
  color: #fff;
}

.dynamicText {
  color: #5dbf1e;
  text-shadow: 1px 1px 1px #000;
}

.text-spacer {
  display: inline-block;
  padding-left: 20px;
}

.height-spacer {
  display: block;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .height-spacer {
    height: 100px;
  }
}

.height-spacer-sm {
  height: 40px;
}

.titleUnderline {
  padding-bottom: 45px;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .titleUnderline {
    padding-bottom: 55px;
  }
}

.titleUnderline:after {
  border-bottom: solid 4px;
  content: ' ';
  display: block;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
  top: 20px;
  width: 100px;
}

img.imgMax300 {
  max-width: 400px;
}

@media screen and (min-width: 768px) {
  img.imgMax300 {
    max-width: 300px;
    height: auto;
  }
}

img.mobileSpacingBot {
  padding-bottom: 15px;
}

@media screen and (min-width: 768px) {
  img.mobileSpacingBot {
    padding: 0;
  }
}

img.mobileSpacingTop {
  padding-top: 15px;
}

@media screen and (min-width: 768px) {
  img.mobileSpacingTop {
    padding: 0;
  }
}

.mobCenDeskRig {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .mobCenDeskRig {
    text-align: right;
  }
}

.mobCenDeskLef {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .mobCenDeskLef {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .vertCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.mobileOnly {
  display: block;
}

@media screen and (min-width: 768px) {
  .mobileOnly {
    display: none;
  }
}

i.fa {
  margin-right: 5px;
}

.infoBar {
  background-color: #5dbf1e;
  text-align: right;
}

.infoBar .infoBar-inner {
  padding: 10px 0;
}

.infoBar a.whiteText:hover {
  border-color: #000;
  color: #000;
}

.logoLanding img {
  height: auto;
  width: 100%;
}

.logoMenu {
  background-color: #000;
}

.logoMenu .container {
  padding: 20px inherit;
}

.logoMenu .logo {
  padding: 20px 0;
  position: relative;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .logoMenu .logo {
    min-height: 120px;
    text-align: left;
  }
}

.logoMenu .logo a {
  border: none;
}

.logoMenu .logo a img {
  height: auto;
  width: 75%;
}

@media screen and (min-width: 768px) {
  .logoMenu .logo a img {
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .logoMenu .menuFlex {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
}

.logoMenu .navicon {
  display: block;
  margin: 0 0 10px;
  min-height: 36px;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .logoMenu .navicon {
    display: none;
  }
}

.logoMenu .navicon:after {
  color: #fff;
  content: '\2630    Menu';
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 30px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.logoMenu .navicon:hover:after {
  color: #fff;
}

.logoMenu .navicon:hover {
  cursor: pointer;
}

.logoMenu .menu {
  text-align: right;
}

@media screen and (min-width: 768px) {
  .logoMenu .menu {
    display: block;
    text-align: right;
  }
}

.logoMenu .menu nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .logoMenu .menu nav {
    display: inline;
  }
}

.logoMenu .menu nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .logoMenu .menu nav ul {
    position: relative;
    right: -30px;
    text-align: right;
  }
}

.logoMenu .menu nav ul li {
  border-bottom: solid 1px #5dbf1e;
  display: block;
  padding: 15px 0 10px;
}

@media screen and (min-width: 768px) {
  .logoMenu .menu nav ul li {
    border: none;
    display: inline-block;
    padding: 10px 15px;
  }
}

@media screen and (min-width: 992px) {
  .logoMenu .menu nav ul li {
    padding: 10px 20px;
  }
}

.logoMenu .menu nav ul li a {
  color: #fff;
  display: inline-block;
  border: 0;
  font-size: 26px;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  transition: width .5s ease;
}

@media screen and (min-width: 768px) {
  .logoMenu .menu nav ul li a {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  .logoMenu .menu nav ul li a {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .logoMenu .menu nav ul li a:after {
    content: ' ';
    width: 0;
  }
}

.logoMenu .menu nav ul li a:hover {
  color: #5dbf1e;
  transition: width .5s ease;
}

@media screen and (min-width: 768px) {
  .logoMenu .menu nav ul li a:hover:after {
    content: " ";
    border-bottom: solid 2px #5dbf1e;
    position: absolute;
    bottom: -5px;
    height: 3px;
    width: 100%;
    left: 0;
    transition: width .5s ease;
  }
}

.header {
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .header {
    min-height: 300px;
  }
}

.header img {
  height: auto;
  width: 100%;
}

.header .carousel-control-prev-icon, .header .carousel-control-next-icon {
  position: relative;
  z-index: 5;
}

.header .carousel-control-prev:after, .header .carousel-control-next:after {
  content: ' ';
  background-color: #5dbf1e;
  position: absolute;
  z-index: 1;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.header .carousel-indicators li {
  background-color: white;
}

.header .carousel-indicators .active {
  background-color: #5dbf1e;
}

.mainContent {
  background-color: #fff;
  padding-bottom: 25px;
  padding-top: 25px;
}

@media screen and (min-width: 768px) {
  .mainContent {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

.whyChooseUs {
  background-attachment: fixed;
  background-image: url(images/truck2.jpg);
  background-position: center center;
  background-size: cover;
}

.whyChooseUs .shade {
  background-color: rgba(0, 0, 0, 0.6);
}

.whyChooseUs .container {
  padding-bottom: 20px;
  padding-top: 20px;
}

@media screen and (min-width: 786px) {
  .whyChooseUs .container {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.mainServices {
  background-color: #000;
}

#accordion .card {
  border: solid 1px #5dbf1e;
  margin-bottom: 15px;
}

#accordion .card:last-of-type {
  margin-bottom: 0;
}

#accordion .card .card-header {
  background-color: rgba(93, 191, 30, 0.2);
  padding: 0;
}

#accordion .card .card-header button.btn {
  border: 0;
  color: #000;
  display: block;
  font-size: 24px;
  line-height: 28px;
  padding: 24px 30px 18px;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

#accordion .card .card-header button.btn.btn-link:after {
  content: "-";
  font-family: monospace, Arial;
  font-size: 40px;
  font-weight: normal;
  position: absolute;
  right: 30px;
}

#accordion .card .card-header button.btn.btn-link.collapsed:after {
  content: "+";
  font-family: monospace, Arial;
  font-size: 40px;
  font-weight: normal;
  position: absolute;
  right: 30px;
}

.callUsToday {
  background-color: #5dbf1e;
  padding: 30px 0;
}

footer {
  background-color: #000;
  padding-bottom: 30px;
  padding-top: 30px;
}

footer a.whiteText:hover {
  border-color: #5dbf1e;
  color: #5dbf1e;
}

.aboutHeader {
  background-color: #5dbf1e;
  background-image: url(./images/pageHeader3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 180px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .aboutHeader {
    height: 300px;
  }
}

.aboutHeader h1 {
  left: 0;
  margin: auto;
  right: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .aboutHeader h1 {
    left: revert;
    right: revert;
    text-align: left;
  }
}

/* Gallery Styles */
.galleryRow {
  margin-left: -8px;
  margin-right: -8px;
}

.galleryRow + .galleryRow {
  margin-top: 20px;
}

* {
  box-sizing: border-box;
}

.row > .column {
  align-items: center;
  display: flex;
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  height: 80px;
  overflow: hidden;
  width: 25%;
}

@media screen and (min-width: 580px) {
  .column {
    height: 100px;
  }
}

@media screen and (min-width: 768px) {
  .column {
    height: 125px;
  }
}

@media screen and (min-width: 992px) {
  .column {
    height: 150px;
  }
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 55px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  background-color: #000;
  height: 100vh;
  margin: auto;
  max-width: 1200px;
  padding: 0;
  position: relative;
  width: 90%;
}

/* The Close Button */
.close {
  color: #fff;
  font-size: 55px;
  font-weight: bold;
  opacity: 1;
  position: absolute;
  right: 25px;
  top: 5px;
  text-shadow: 0 1px 0 #5dbf1e;
}

.close:hover,
.close:focus {
  color: #5dbf1e;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0 1px 0 #fff;
}

.mySlides, .mySlides2, .mySlides3 {
  display: none;
}

.mySlides img, .mySlides2 img, .mySlides3 img {
  height: 80vh;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  width: auto !important;
}

.sliderText {
  display: none;
}

@media screen and (min-width: 768px) {
  .sliderText {
    background-color: rgba(0, 0, 0, 0.55);
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px 0 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-60%);
    width: 500px;
  }
}

.cursor {
  cursor: pointer;
}

img.hover-shadow {
  height: 100%;
  position: relative;
  transition: 0.3s;
}

@media screen and (min-width: 580px) {
  img.hover-shadow {
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  img.hover-shadow {
    height: auto;
  }
}

@media screen and (min-width: 992px) {
  img.hover-shadow {
    height: auto;
  }
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* New Gallery */
.dynamicGallery {
  padding: 0 8px;
  /* Create four equal columns that floats next to eachother */
  /* The Modal (background) */
  /* Modal Content */
  /* The Close Button */
  /* Hide the slides by default */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Number text (1/3 etc) */
  /* Caption text */
}

.dynamicGallery .row {
  margin-bottom: 15px;
}

.dynamicGallery .row > .column {
  background-color: #5dbf1e;
  margin: 0 8px 10px 8px;
  padding: 0;
}

.dynamicGallery .row:after {
  content: "";
  display: table;
  clear: both;
}

.dynamicGallery .column {
  float: left;
  width: 23%;
}

.dynamicGallery .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 75px 50px 0 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
}

.dynamicGallery .modal-content {
  background-color: #000;
  height: 85vh;
  margin: auto;
  max-width: 1200px;
  padding: 0;
  position: relative;
  width: 90%;
}

.dynamicGallery .modal-content .column {
  display: none;
}

.dynamicGallery .close {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 50px;
  font-weight: bold;
}

.dynamicGallery .close:hover,
.dynamicGallery .close:focus {
  color: #5dbf1e;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}

.dynamicGallery .mySlides, .dynamicGallery .mySlidesA, .dynamicGallery .mySlidesB, .dynamicGallery .mySlidesC {
  display: none;
}

.dynamicGallery .mySlides img, .dynamicGallery .mySlidesA img, .dynamicGallery .mySlidesB img, .dynamicGallery .mySlidesC img {
  height: auto;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  width: 80vw;
}

@media screen and (min-width: 768px) {
  .dynamicGallery .mySlides img, .dynamicGallery .mySlidesA img, .dynamicGallery .mySlidesB img, .dynamicGallery .mySlidesC img {
    height: 80vh;
    width: auto !important;
  }
}

.dynamicGallery .prev,
.dynamicGallery .next {
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.dynamicGallery .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dynamicGallery .prev:hover,
.dynamicGallery .next:hover {
  background-color: #5dbf1e;
}

.dynamicGallery .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 0;
  position: absolute;
  top: 0;
}

.dynamicGallery .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.dynamicGallery img.demo, .dynamicGallery img.demoA, .dynamicGallery img.demoB, .dynamicGallery img.demoC {
  display: none;
  opacity: 0.6;
}

.dynamicGallery .active,
.dynamicGallery .demo:hover {
  opacity: 1;
}

.dynamicGallery img.hover-shadow {
  transition: 0.3s;
  width: 100%;
}

.dynamicGallery .hover-shadow:hover {
  box-shadow: none;
  cursor: pointer;
  opacity: .3;
}
