body {
    background-color: #5dbf1e;
    color: #000;
    font-size: 16px;
    font-family: "PT Sans", Arial, sans-serif;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

p {
    color: #000;
    font-size: 16px;
    font-family: "PT Sans", Arial, sans-serif;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

.p1 {
    font-size: 18px;
    line-height: 30px;
}

p + p {
    margin-top: 25px;
}

h1, .h1 {
    color: #5dbf1e;
    font-family: "Josefin Sans", Arial, sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 62px;
    text-shadow: 1px 1px 0px rgba(0,0,0,50%);
}

h2, .h2 {
    color: #5dbf1e;
    font-family: "Josefin Sans", Arial, sans-serif;
    font-size: 46px;
    font-weight: 600;
    line-height: 52px;
    text-shadow: 1px 1px 0px rgba(0,0,0,50%);
}

h3, .h3 {
    color: #000;
    font-family: "Josefin Sans", Arial, sans-serif;
    font-size: 34px;
    line-height: 40px;
}

h4, .h4 {
    color: #000;
    font-family: "Josefin Sans", Arial, sans-serif;
    font-size: 28px;
    line-height: 34px;
}

h5, .h5 {
    color: #5dbf1e;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    text-shadow: 1px 1px 0px rgba(0,0,0,50%);
}

h6, .h6 {
    color: #5dbf1e;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    text-shadow: 1px 1px 0px rgba(0,0,0,50%);
}

a {
    border-bottom: solid 2px #5dbf1e;
    color: #5dbf1e;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    &.whiteText {
        border-color: #fff;
        color: #fff;

        &:hover {
            border-color: #e7e6e4;
            color: #e7e6e4;
        }
    }
}

.anchorPoint {
    border: 0;
    display: block;
    height: 0;
    position: relative;
    top: -60px;
}

.btn {
    border: solid 2px #000;
    border-radius: 0;
    display: inline-block;
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    padding: 12px 20px 8px;
    transition: .3s all;

    &.btnPrim {
        background-color: #000;
        color: #fff;

        &:hover {
            background-color: rgba(0,0,0,0);
            color: #000;
        }
    }

    &.btnSeco {
        background-color: #5dbf1e;
        border-color: #5dbf1e;
        color: #fff;

        &:hover {
            /*background-color: #44a207;*/
            background-color: rgba(0,0,0,0);
            color: #5dbf1e;
        }
    }

    &.btnTert {
        background-color: #fff;
        border: solid 2px #000;
        color: #000;

        &:hover {
            background-color: rgba(0,0,0,1);
            color: #fff;
        }
    }
}

.whiteText {
    color: #fff;
}

.dynamicText {
    color:#5dbf1e;
    text-shadow: 1px 1px 1px #000;
}

.text-spacer {
    display: inline-block;
    padding-left: 20px;
}

.height-spacer {
    display: block;
    height: 50px;

    @media screen and (min-width:768px) {
        height: 100px;
    }

    &-sm {
        height: 40px;
    }
}

.titleUnderline {
    padding-bottom: 45px;
    position: relative;
    z-index: 1;

    @media screen and (min-width: 768px) {
        padding-bottom: 55px;
    }

    &:after {
        border-bottom: solid 4px;
        content: ' ';
        display: block;
        left: 0;
        right: 0;
        margin: auto;
        position: relative;
        top: 20px;
        width: 100px;
    }

}

img {

    &.imgMax300 {
        max-width: 400px;

        @media screen and (min-width: 768px) {
            max-width: 300px;
            height: auto;
        }
    }

    &.mobileSpacingBot {
        padding-bottom: 15px;

        @media screen and (min-width: 768px) {
            padding: 0;
        }
    }

    &.mobileSpacingTop {
        padding-top: 15px;

        @media screen and (min-width: 768px) {
            padding: 0;
        }
    }
}

.mobCenDeskRig {
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: right;
    }
}

.mobCenDeskLef {
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.vertCenter {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.mobileOnly {
    display: block;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

i {
    &.fa {
        margin-right: 5px;
    }
}

.infoBar {
    background-color: #5dbf1e;
    text-align: right;

    .infoBar-inner {
        padding: 10px 0;
    }

    a.whiteText:hover {
        border-color: #000;
        color: #000;
    }
}

.logoLanding {
    img {
        height: auto;
        width: 100%;
    }
}

.logoMenu {
    background-color: #000;

    .container {
        padding: 20px inherit;
    }

    .logo {
        padding: 20px 0;
        position: relative;
        text-align: center;

        @media screen and (min-width: 768px) {
            min-height: 120px;
            text-align: left;
        }

        a {
            border: none;

            img {
                height: auto;
                width: 75%;
    
                @media screen and (min-width: 768px) {
                    height: auto;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                }
            }
        }
    }

    .menuFlex {
        @media screen and (min-width: 768px) {
            align-items: center;
            display: flex;
            flex-direction: row;   
        }
    }

    .navicon {
        display: block;
        margin: 0 0 10px;
        min-height: 36px;
        position: relative;
        width: 100%;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    .navicon:after {
        color: #fff;
        content: '\2630    Menu';
        font-family: 'PT Sans', Arial, sans-serif;
        font-size: 30px;
        left: 0;
        position: absolute;
        right:0;
        text-align: center;
        top: 0;
    }
    .navicon:hover:after {
        color: #fff;
    }
    .navicon:hover {
        cursor: pointer;
    }
    .menu {
        text-align: right;

        @media screen and (min-width: 768px) {
            display: block;
            text-align: right;
        }
        nav {
            display: none;

            @media screen and (min-width: 768px) {
                display: inline;
            }

            ul {
                margin: 0;
                padding: 0;
                text-align: center;

                @media screen and (min-width: 768px) {
                    position: relative;
                    right: -30px;
                    text-align: right;
                }

                li {
                    border-bottom: solid 1px #5dbf1e;
                    display: block;
                    padding: 15px 0 10px;

                    @media screen and (min-width: 768px) {
                        border: none;
                        display: inline-block;
                        padding: 10px 15px;
                    }
                    @media screen and (min-width: 992px) {
                        padding: 10px 20px;
                    }
                    a {
                        color: #fff;
                        display: inline-block;
                        border: 0;
                        font-size: 26px;
                        font-weight: bold;
                        position: relative;
                        text-decoration: none;
                        transition: width .5s ease;

                        @media screen and (min-width: 768px) {
                            font-size: 16px;
                        }
                        @media screen and (min-width: 992px) {
                            font-size: 18px;
                        }

                        @media screen and (min-width: 768px) {
                            &:after {
                                content: ' ';
                                width: 0;
                            }
                        }

                        &:hover {
                            color:#5dbf1e;
                            transition: width .5s ease;

                            @media screen and (min-width: 768px) {
                                &:after {
                                    content: " ";
                                    border-bottom: solid 2px #5dbf1e;
                                    position: absolute;
                                    bottom: -5px;
                                    height: 3px;
                                    width: 100%;
                                    left: 0;
                                    transition: width .5s ease;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.header {
    background-color: #fff;

    @media screen and (min-width: 768px) {
        min-height: 300px;
    }

    img {
        height: auto;
        width: 100%;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        position: relative;
        z-index: 5;
    }

    .carousel-control-prev, .carousel-control-next {
        &:after {
            content: ' ';
            background-color: #5dbf1e;
            position: absolute;
            z-index: 1;
            display: inline-block;
            height: 50px;
            width: 50px;
        }
    }

    .carousel-indicators {
        li {
            background-color: rgba(255,255,255,1);
        }
        .active {
            background-color: #5dbf1e;
        }
    }
}

.mainContent {
    background-color: #fff;
    padding-bottom: 25px;
    padding-top: 25px;

    @media screen and (min-width: 768px) {
        padding-bottom: 40px;
        padding-top: 40px;
    }
}

.whyChooseUs {
    background-attachment: fixed;
    background-image: url(images/truck2.jpg);
    background-position: center center;
    background-size: cover;

    .shade {
        background-color: rgba(0,0,0,.6);
    }

    .container {
        padding-bottom: 20px;
        padding-top: 20px;

        @media screen and (min-width: 786px) {
            padding-bottom: 60px;
            padding-top: 60px;
        }
    }
}

.mainServices {
    background-color: #000;
}

#accordion {
    .card {
        border: solid 1px rgb(93, 191, 30);
        margin-bottom: 15px;

        &:last-of-type {
            margin-bottom: 0;
        }

        .card-header {
            background-color: rgba(93, 191, 30,.2);
            padding: 0;

            button {
                &.btn {
                    border: 0;
                    color: #000;
                    display: block;
                    font-size: 24px;
                    line-height: 28px;
                    padding: 24px 30px 18px;
                    text-align: left;
                    text-decoration: none;
                    width: 100%;

                    &.btn-link {

                        &:after {
                            content: "-";
                            font-family: monospace, Arial;
                            font-size: 40px;
                            font-weight: normal;
                            position: absolute;
                            right: 30px;
                        }
                        &.collapsed {
                            &:after {
                                content: "+";
                                font-family: monospace, Arial;
                                font-size: 40px;
                                font-weight: normal;
                                position: absolute;
                                right: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.callUsToday {
    background-color: #5dbf1e;
    padding: 30px 0;
}

footer {
    background-color: #000;
    padding-bottom: 30px;
    padding-top: 30px;

    a.whiteText:hover {
        border-color: #5dbf1e;
        color: #5dbf1e;
    }
}

.aboutHeader {
    background-color: #5dbf1e;
    background-image: url(./images/pageHeader3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 180px;
    position: relative;

    @media screen and (min-width: 768px) {
        height: 300px;
    }

    h1 {
        left: 0;
        margin: auto;
        right: 0;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);

        @media screen and (min-width: 768px) {
            left: revert;
            right: revert;
            text-align: left;
        }
    }
}

/* Gallery Styles */
.galleryRow {
    margin-left: -8px;
    margin-right: -8px;
}

.galleryRow + .galleryRow {
    margin-top: 20px;
}

* {
    box-sizing: border-box;
}

.row > .column {
    align-items: center;
    display: flex;
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    height: 80px;
    overflow: hidden;
    width: 25%;

    @media screen and (min-width: 580px) {
        height: 100px;
    }

    @media screen and (min-width: 768px) {
        height: 125px;
    }

    @media screen and (min-width: 992px) {
        height: 150px;
    }
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 55px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    background-color: #000;
    height: 100vh;
    margin: auto;
    max-width: 1200px;
    padding: 0;
    position: relative;
    width: 90%;
}

/* The Close Button */
.close {
    color: #fff;
    font-size: 55px;
    font-weight: bold;
    opacity: 1;
    position: absolute;
    right: 25px;
    top: 5px;
    text-shadow: 0 1px 0 #5dbf1e;
}

.close:hover,
.close:focus {
    color: #5dbf1e;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 1px 0 #fff;
}

.mySlides, .mySlides2, .mySlides3 {
    display: none;

    img {
        height: 80vh;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        text-align: center;
        width: auto !important;
    }
}

.sliderText {
    display: none;
}

@media screen and (min-width: 768px) {
    .sliderText {
        background-color: rgba(0,0,0,.55);
        display: block;
        left: 0;
        right: 0;
        margin: auto;
        padding: 20px 0 10px;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-60%);
        width: 500px;
    }
}

.cursor {
    cursor: pointer;
}

img.hover-shadow {
    height: 100%;
    position: relative;
    transition: 0.3s;

    @media screen and (min-width: 580px) {
        height: auto;
    }
    @media screen and (min-width: 768px) {
        height: auto;
    }
    @media screen and (min-width: 992px) {
        height: auto;
    }
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* New Gallery */

.dynamicGallery {
    padding: 0 8px;

    .row {
        margin-bottom: 15px;
    }

    .row > .column {
        background-color: #5dbf1e;
        margin: 0 8px 10px 8px;
        padding: 0;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Create four equal columns that floats next to eachother */
    .column {
        float: left;
        width: 23%;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding: 75px 50px 0 50px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #000;
    }

    /* Modal Content */
    .modal-content {
        background-color: #000;
        height: 85vh;
        margin: auto;
        max-width: 1200px;
        padding: 0;
        position: relative;
        width: 90%;

        .column {
            display: none;
        }
    }

    /* The Close Button */
    .close {
        color: #fff;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 50px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #5dbf1e;
        text-decoration: none;
        cursor: pointer;
        opacity: 1;
    }

    /* Hide the slides by default */
    .mySlides, .mySlidesA, .mySlidesB, .mySlidesC {
        display: none;

        img {
            height: auto;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            text-align: center;
            width: 80vw;

            @media screen and (min-width: 768px) {
                height: 80vh;
                width: auto !important;
            }
        }
    }

    /* Next & previous buttons */
    .prev,
    .next {
        background-color: #fff;
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: #5dbf1e;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 0;
        position: absolute;
        top: 0;
    }

    /* Caption text */
    .caption-container {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
    }

    img.demo, img.demoA, img.demoB, img.demoC {
        display: none;
        opacity: 0.6;
    }

    .active,
    .demo:hover {
        opacity: 1;
    }

    img.hover-shadow {
        transition: 0.3s;
        width: 100%;
    }

    .hover-shadow:hover {
        box-shadow: none;
        cursor: pointer;
        opacity: .3;
    }
}